<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Global Chat</title>

	<link rel="stylesheet" href="/pico.min.css">
	<link rel="manifest" href="/manifest.json">

	<script defer src="./socket.io.min.js"></script>
	<script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script defer src='./script.js'></script>
</head>
<body>
	<header class="container-fluid" style="position: sticky; background: var(--pico-background-color);">
		<nav>
		  <ul>
		    <li><strong>Global Chat - Cube Nerd</strong></li>
		  </ul>
		  <ul>
		    <li><a href="https://github.com/mastercuber55" target="_blank">Github</a></li>
		    <li><a href="https://www.youtube.com/@mastercoder55" target="_blank">Youtube</a></li>
		    <li><a href="https://discord.gg/7zvpWnE7QV" target="_blank">Discord</a></li>
		  </ul>
		</nav>
	</header>
	<main class="container-fluid" id="app">
		<ul>
			<li v-for="msg in messages">
				<template v-if="msg.type == 'system'">
					<i>{{ msg.user }} {{ msg.content }} </i>
				</template>

				<template v-else>
					<b>{{ msg.user }}:</b> {{ msg.content }}
				</template> 
			</li>
		</ul>
	  	<fieldset role="group">
		    <input
		      v-model="input"
		      @keydown.enter="send"
		      placeholder="Heyyyyyyyyyyyyy!!!!"
		    />
		    <button @click="send">Send</button>
		  </fieldset>	
	</main>
</body>
</html>